.page-wrapper{
    padding-top: 78px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f3ebeb;
  }

  tr:hover {
    background-color: #e6e2e2;
  }

  .small-font {font-size: 75%;}
